.h1 {
    text-align: center;
    // color: #fff;
}

.center {
    text-align: center;
}

.ul {
    padding: 0px;
    /* Removes default padding */
    margin: 0 0 24px 20px;
}

.li {
    list-style-type: disk;
}